.navbar {
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 30px;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.nav-link:hover {
    color: #55c57a;
}